@use "../../../styles/_variables" as *;
.header {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.5);


}

.header__title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 0.1rem;
  gap: 0; 
}

.header__title .meal {
  color: $color-accent-orange;
}

.header__title .match {
  color: $color-accent-yellow;
}

.header__logo {
  width: 2.25rem;
  height: 2.25rem;
	object-fit: contain;
  margin-right: 0.25rem; 
  margin-left: 4.5rem;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
